.nav-wrapper {
	position: relative;
}

.container {
	position: relative;
}

.movie-container {
	color: whitesmoke;
}

.lime-nav {
	position: absolute;
	left: 15px;
	top: 10px;
}

.brand-logo {
	position: absolute;
	left: 70px;
}

.account-placeholder {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 20px;
}

ul.dropdown-content.select-dropdown li span {
    color: #01bf05;
}