.nav-wrapper {
	position: relative;
}

.container {
	position: relative;
}

.movie-container {
	color: whitesmoke;
}

.lime-nav {
	position: absolute;
	left: 15px;
	top: 10px;
}

.brand-logo {
	position: absolute;
	left: 70px;
}

.account-placeholder {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 20px;
}

ul.dropdown-content.select-dropdown li span {
    color: #01bf05;
}

.theater-pref-div {
	position: relative;
	height: 300px;
	margin-right: 5px;
}

.purchase-btn {
	position: absolute;
	bottom: 10px;
	left: 60px;
}

.kick-right {
	padding-left: 15px;
}

.reviews-div {
	font-size: 12px;
	height: 50px;
	margin-right: 5px;
}

.movie-page-hr-break {
	width: 80%;
	opacity: .25;
}